<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>toDoアプリ</title>
<style>
    table {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto; /* ページ中央に配置 */
    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    h1 {
        text-align: center;
    }
    .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
</style>
</head>
<body>
<h1>toDoアプリ</h1>
<form action="/todo/add" method="post">
	<input type="text" name="todoText"required>
	<button type="submit">追加</button>
</form>
<a href="/todo_complete">完了済みタスク</a>
<table>
	<thead>
		<tr>
			<th>やるべきこと</th>
			<th>✓</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="todo : ${todoList}">
			<td th:text="${todo.todoText}"></td>
			<form th:action="@{'/todo/'+ ${todo.id} + '/complete'}" method="post">
			<td><button type="submit">✓</button></td>
			<td>
				<form><a th:href="@{'/todo/' + ${todo.id} + '/edit'}">編集</a></form>
			<td>
			<form th:action="@{'/todo/' + ${todo.id} + '/delete'}" method="post">
				<button type="submit">削除</button>
			</form>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>